---
- name: Ensure docker SDK are installed (Debian)
  ansible.builtin.apt:
    name:
      - python3-docker
    state: present
    update_cache: true
  when: ansible_os_family == "Debian"

- name: Ensure pip are installed (RedHat)
  ansible.builtin.dnf:
    name:
      - python3-pip
    state: present
  when: ansible_os_family == "RedHat"

- name: Install Docker SDK for Python
  ansible.builtin.pip:
    name: docker
    executable: pip3
  when: ansible_os_family == "RedHat"

- name: Create Rancher data directory
  ansible.builtin.file:
    path: "{{ rancher_data_dir }}"
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Deploy docker-compose.yml
  become: true
  ansible.builtin.template:
    src: docker/docker-compose.yml.j2
    dest: "{{ ansible_env.HOME }}/{{ rancher_compose_file }}"
    owner: root
    group: root
    mode: "0644"

- name: Compose up (create/start Rancher)
  become: true
  community.docker.docker_compose_v2:
    project_src: "{{ ansible_env.HOME }}"
    files:
      - "{{ rancher_compose_file }}"
    state: present
    pull: always

- name: Get Rancher bootstrap password
  ansible.builtin.shell: |
    docker logs rancher 2>&1 | grep "Bootstrap Password:"
  register: rancher_bootstrap_raw
  retries: 10
  delay: 5
  until: rancher_bootstrap_raw.stdout != ""
  changed_when: false
  failed_when: false

- name: Show bootstrap password line
  ansible.builtin.debug:
    msg: "{{ rancher_bootstrap_raw.stdout }}"
