---
# RKE2 Server Configuration (Additional Control Plane)
write-kubeconfig-mode: "0644"
advertise-address: "{{ kube_control_plane[inventory_hostname].internal_address }}"

{% if rke2_agent_token is defined and rke2_agent_token | length > 0 -%}
agent-token: "{{ rke2_agent_token }}"
{% endif %}

{% if rke2_cluster_cidr is defined and rke2_cluster_cidr | length > 0 -%}
cluster-cidr: "{{ rke2_cluster_cidr }}"
{% endif %}

{% if rke2_service_cidr is defined and rke2_service_cidr | length > 0 -%}
service-cidr: "{{ rke2_service_cidr }}"
{% endif %}

cni: "{{ rke2_cni }}"

{% if rke2_kube_controller_manager_args is defined and rke2_kube_controller_manager_args | length > 0 %}
kube-controller-manager-arg:
{% for arg in rke2_kube_controller_manager_args %}
  - "{{ arg }}"
{% endfor %}
{% endif %}

{% if rke2_kube_controller_manager_extra_mount is defined and rke2_kube_controller_manager_extra_mount | length > 0 %}
kube-controller-manager-extra-mount:
{% for mount in rke2_kube_controller_manager_extra_mount %}
  - "{{ mount }}"
{% endfor %}
{% endif %}

{% if rke2_kube_scheduler_args is defined and rke2_kube_scheduler_args | length > 0 %}
kube-scheduler-arg:
{% for arg in rke2_kube_scheduler_args %}
  - "{{ arg }}"
{% endfor %}
{% endif %}

{% if rke2_kube_scheduler_extra_mount is defined and rke2_kube_scheduler_extra_mount | length > 0 %}
kube-scheduler-extra-mount:
{% for mount in rke2_kube_scheduler_extra_mount %}
  - "{{ mount }}"
{% endfor %}
{% endif %}

{% if rke2_kubelet_args is defined and rke2_kubelet_args | length > 0 %}
kubelet-arg:
{% for arg in rke2_kubelet_args %}
  - "{{ arg }}"
{% endfor %}
{% endif %}

node-external-ip:
  - "{{ kube_control_plane[inventory_hostname].address }}"
node-ip:
  - "{{ kube_control_plane[inventory_hostname].internal_address }}"

{% if rke2_node_labels is defined and rke2_node_labels | length > 0 %}
node-label:
{% for label in rke2_node_labels %}
  - "{{ label }}"
{% endfor %}
{% endif %}

{% if rke2_control_plane_taints is defined and rke2_control_plane_taints | length > 0 %}
node-taint:
{% for taint in rke2_control_plane_taints %}
  - "{{ taint }}"
{% endfor %}
{% endif %}

{% if rke2_private_registry_config is defined and rke2_private_registry_config | length > 0 %}
private-registry: "{{ rke2_private_registry_config }}"
{% endif %}

server: https://{{ registration_address }}:9345

tls-san:
{% for node_name, node in kube_control_plane.items() %}
  - "{{ node.address }}"
  - "{{ node.internal_address }}"
  - "{{ node.host_name }}"
{% endfor %}
{% if kube_api_endpoint is defined %}
  - "{{ kube_api_endpoint }}"
{% endif -%}
{% if control_plane_endpoint is defined %}
  - "{{ control_plane_endpoint }}"
{% endif %}

token: "{{ rke2_token }}"

{% if rke2_disable_packaged_components is defined and rke2_disable_packaged_components | length > 0 -%}
disable:
{% for packaged_components in rke2_disable_packaged_components %}
  - "{{ packaged_components }}"
{% endfor %}
{% endif %}
