---
- name: Create Kubernetes cluster
  hosts: kube_control_plane,kube_node
  become: true
  become_user: root
  roles:
    - role: kubeadm/validate
    - role: kubeadm/kubeadm-join
    - role: deploy-cni-plugin
      tags: cni
  serial: 1
  vars:
    apply_k8s_version: "v1.33.2"  # https://kubernetes.io/releases/
    k8s_version: "{{ apply_k8s_version | regex_search ('v[0-9]+\\.[0-9]+') }}"
    k8s_component_version: "{{ apply_k8s_version | regex_search ('[0-9]+\\.[0-9]+\\.[0-9]+') }}"
    public_key_k8s_version: "{{ apply_k8s_version | regex_search ('v[0-9]+\\.[0-9]+') }}"
