---
- name: Check cluster exists
  ansible.builtin.uri:
    url: "{{ hostvars[groups['rancher_admin'][0]].rancher_url }}/v1/provisioning.cattle.io.clusters/{{ hostvars[groups['rancher_admin'][0]].cluster_namespace }}/{{ hostvars[groups['rancher_admin'][0]].cluster_name }}"
    method: GET
    headers:
      Authorization: "bearer {{ rancher_api_token }}"
    validate_certs: "{{ not hostvars[groups['rancher_admin'][0]].rancher_insecure_ssl | bool }}"
    status_code: [200, 404]
  register: cluster_get

- name: Create cluster if not exists
  when: cluster_get.status == 404
  ansible.builtin.uri:
    url: "{{ hostvars[groups['rancher_admin'][0]].rancher_url }}/v1/provisioning.cattle.io.clusters"
    method: POST
    headers:
      Authorization: "bearer {{ rancher_api_token }}"
      Content-Type: "application/json"
    validate_certs: "{{ not hostvars[groups['rancher_admin'][0]].rancher_insecure_ssl | bool }}"
    body_format: json
    status_code: [200, 201]
    body:
      apiVersion: provisioning.cattle.io/v1
      kind: Cluster
      metadata:
        name: "{{ hostvars[groups['rancher_admin'][0]].cluster_name }}"
        namespace: "{{ hostvars[groups['rancher_admin'][0]].cluster_namespace }}"
      spec:
        kubernetesVersion: "{{ hostvars[groups['rancher_admin'][0]].kubernetes_version }}"
        rkeConfig:
          machineGlobalConfig:
            cni: "{{ hostvars[groups['rancher_admin'][0]].cni }}"
            "kubelet-arg": "{{ hostvars[groups['rancher_admin'][0]].kubelet_args }}"
            "kube-controller-manager-arg": "{{ hostvars[groups['rancher_admin'][0]].kcm_args }}"
          registries: {}
  register: cluster_create
  changed_when: cluster_create.status in [200,201]

- name: Wait until cluster is ready to register
  retries: 30
  delay: 6
  ansible.builtin.uri:
    url: "{{ hostvars[groups['rancher_admin'][0]].rancher_url }}/v1/provisioning.cattle.io.clusters/{{ hostvars[groups['rancher_admin'][0]].cluster_namespace }}/{{ hostvars[groups['rancher_admin'][0]].cluster_name }}"
    method: GET
    headers:
      Authorization: "bearer {{ rancher_api_token }}"
    validate_certs: "{{ not hostvars[groups['rancher_admin'][0]].rancher_insecure_ssl | bool }}"
  register: cluster_poll
  until: cluster_poll.json.status is defined
